@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($fontSize, $baseFontSize: $rootFontSize) {
  @return (strip-unit($fontSize) / strip-unit($baseFontSize)) * 1rem;
}

$rootFontSize: 16px;
$cubeSize: rem(36px);

html, body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: $rootFontSize;
  background-color: #d0cbc7;
}


// Cube
// ----------------

.cube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: $cubeSize;
  height: $cubeSize;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-45deg);
  animation: 1.6s cubeRotate infinite ease;
}

.cube-face {
  position: absolute;
  width: $cubeSize;
  height: $cubeSize;
  opacity: 1;
  box-shadow: inset 0 0 ($cubeSize * 2 / 5) rgba(0,0,0,.4);
  transition: opacity .26s ease-in;
}

.cube-face-top {
  margin-top: $cubeSize / 2 * -1;
  transform: rotateX(90deg);
}

.cube-face-right {
  margin-left: $cubeSize / 2;
  transform: rotateY(90deg); 
}

.cube-face-bottom {
 margin-top: $cubeSize / 2;
 transform: rotateX(90deg);
}

.cube-face-left {
  margin-left: $cubeSize / 2 * -1;
  transform: rotateY(-90deg);
}

.cube-face-front {
  transform: translateZ($cubeSize / 2); 
}

.cube-face-back {
  transform: translateZ($cubeSize / 2 * -1); 
}

.cube.fade:not(.in) > .cube-face {
  opacity: 0;
}

// Score
// ------------------

.score {
  position: absolute;
  top: 8%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 44;
  display: none;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: rem(24px);
  white-space: nowrap;
  word-break: keep-all;
  text-align: center;
  line-height: rem(24px);
  font-size: rem(24px);
  user-select: none;
  pointer-events: none;
}


// Message
// -------------------

.message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 44;
  display: block;
  margin: auto;
  height: rem(96px);
  white-space: nowrap;
  word-break: keep-all;
  text-align: center;
  line-height: rem(96px);
  font-size: rem(48px);
  font-weight: bold;
  color: #444;
  background-color: rgba(255,255,255,.4);
  transition: opacity .26s ease-in;
  user-select: none;
  pointer-events: none;
}

.message.fade:not(.in) {
  opacity: 0;
}


// Play
// --------------------

.play {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10%;
  z-index: 44;
  display: none;
  text-align: center;
  font-size: rem(24px);
  color: #333;
  opacity: 1;
  transition: opacity .26s ease-in;
  cursor: pointer;
  user-select: none;
}

.play.fade:not(.in) {
  opacity: 0;
}

@keyframes cubeRotate {
  from {
    transform: rotateX(-20deg) rotateY(-135deg);
  }

  to {
    transform: rotateX(-20deg) rotateY(-45deg);
  }
}
